<% content_for(:title, "List | To Do" ) %>

<h1><%= @post.name %></h1>

<h4><%= @post.description %></h4>


<% if @post.comments.any? %>
  <h4>Here are the comments for this list:</h4>

  <ul>
    <% @post.comments.each do |comment| %>
    <li>
      <%= comment.description %> |
      <%= link_to "Edit", edit_list_task_path(@post, comment) %> |
      <%= link_to "Delete", list_task_path(@list, comment),
                              :data => {:confirm => "Are you sure?",
                                        :method => "delete"} %>
    </li>
    <% end %>
  </ul>
<% else %>
  <p>
    There are no comments yet!
  </p>
<% end %>

<p>
  <%= link_to "Add a comment", new_list_task_path(@post) %>
</p>

<p>
  <%= link_to "Edit", edit_list_path(@post) %>
</p>
<p>
  <%= link_to "Delete", list_path(@post),
                        :data => {:confirm => "Are you sure?",
                                      :method => "delete"}%>
</p>
<p>
  <%= link_to "Return to lists", lists_path %>
</p>
