<% content_for(:title, "ShimCity Blog" ) %>

<h1><%= @posts.title %></h1>

<h4><%= @posts.description %></h4>


<% if @posts.comments.any? %>
  <h4>Here are the comments for this list:</h4>

  <ul>
    <% @posts.comments.each do |comment| %>
    <li>
      <%= comment.description %> |
      <%= link_to "Edit", edit_post_comment_path(@posts, comment) %> |
      <%= link_to "Delete", post_comment_path(@posts, comment),
                              :data => {:confirm => "Are you sure?",
                                        :method => "delete"} %>
    </li>
    <% end %>
  </ul>
<% else %>
  <p>
    There are no comments yet!
  </p>
<% end %>

<p>
  <%= link_to "Add a comment", new_post_comment_path(@posts) %>
</p>

<p>
  <%= link_to "Edit", edit_post_path(@posts) %>
</p>
<p>
  <%= link_to "Delete", post_path(@posts),
                        :data => {:confirm => "Are you sure?",
                                      :method => "delete"}%>
</p>
<p>
  <%= link_to "Return to Posts", posts_path %>
</p>
